<h1>All the found pets</h1>

<ul>
  <% @pets.each do |pet| %>
    <%= link_to pet_path(pet) do %>
      <li class='d-flex justify-content-between border p-2 rounded mt-2'>
        <div>
          <%= pet.name %> -
          <%= pet.address %> -
          <%= pet.species.capitalize %> -
          <%= time_ago_in_words(pet.found_on) %> ago
        </div>

        <div class="d-flex">
          <%= link_to 'edit',
                       edit_pet_path(pet),
                       class: 'btn btn-xs btn-warning mr-1' %>

          <%= link_to 'delete',
                       pet_path(pet),
                       method: 'delete',
                       class: 'btn btn-xs btn-danger' %>
        </div>


      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Add a pet', new_pet_path %>
